@import url(base.css);

/*** РАМКА ЭКРАНА ***/
.border-page{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    border: white 50px solid;
}
    .border-page .inner{
        position: relative;
        width: 100%;
        left: 0px;
        top: 0px;
        border: black 20px solid;
        overflow: hidden;
    }

/*** ИКОНКИ ***/
.icon-bomb{position: absolute; bottom: -30%; left: -20%;}
.icon-rocket{vertical-align: bottom; margin-bottom: -10px; width: 40px;}
.icon-fb{margin-top: -5px; margin-right: 2px;}

.icon-scroll-link{position: absolute; bottom: -80px; left: 50%; margin-left: -40px;}

/*** СТИЛИ ДЛЯ СЕКЦИЙ ***/
.da-slide{}
    .da-slide .content{font-size: 28px; line-height: 1.3em; position: relative;}
    .da-slide .content p{margin-bottom: 70px;}
    .da-slide .content .text-danger{color: #8e394f;}
    .da-slide .content .text-danger.important{text-transform: uppercase; letter-spacing: 6px;}
    
    .da-slide .content.little{font-size: 24px;}
    .da-slide .content.little p{margin-bottom: 50px;}
    
.not-landscape .da-slide .media{width: 85%;}
.not-landscape .da-slide .media>.pull-right{margin-left: 50px; min-height: 600px;}

.landscape     .da-slide .media>.pull-right {margin-left: 100px; min-height: 300px;}
    
@media (max-width: 992px){
    .da-slide .content{font-size: 24px;}
    .da-slide .media{width: 80%;}
    .da-slide .media>.pull-right{margin-left: 50px;}
}
@media (max-width: 768px){
    .da-slide .content{font-size: 18px;}
    .da-slide .media>.pull-right{margin-left: 20px;}
}
    
@media(max-height: 741px){
    .border-page{border: white 10px solid;}
    .border-page .inner{border: black 10px solid;}
    
    #fp-nav{}
    #fp-nav.right{right: 28px;}
    
    .icon-bomb{left: -80px;bottom: -90px;width: 210px;}
    
    .da-slide .content{font-size: 24px;}
        .da-slide .content h2{font-size: 36px;}
        .da-slide .content h3{font-size: 36px;}
        .da-slide .content h3 br{display: none}
        .da-slide .content p{margin-bottom: 30px;}
    .da-slide .content.little{font-size: 18px;}
        .da-slide .content.little p{margin-bottom: 20px;}
        
}

/*** ФОРМА ***/
.default-form {background: black;}
.default-form .container{max-width: 780px;}
.default-form .content{color: white !important;}
.default-form .content h2{color: white !important;}
.default-form .content h3{color: white !important; margin-bottom: 70px;}
.default-form .content p{color: white !important; font-size: 24px;}
.default-form .content a{color: white !important; text-decoration: underline;}

.form-control-label{font-size: 24px; font-weight: normal; line-height: 1.3em;}
.form-control,
.knockout-top-to-bottom .form-control[disabled]{
    background: white;
    border: none;
    outline: none !important;
    box-shadow: none !important;
}
input::-webkit-input-placeholder {word-spacing: normal !important;}
input:-moz-placeholder {word-spacing: normal !important;}

.form-group.small{margin-bottom: 5px;}


/*** ДЛЯ ТЕЛЕФОНА ***/
.mobile .border-page{
    border: white 10px solid;
}
.mobile .border-page .inner{
    border: black 10px solid;
}

.mobile #fp-nav{}
.mobile #fp-nav.right{right: 28px;}
.mobile .for-landscape {font-size: 36px !important;}
.mobile .for-landscape .btn{display: block; font-size: 28px; width: 50%; margin: 10px 0px;}

.landscape .da-slide .content {font-size: 38px;}
.landscape .da-slide .content.little {font-size: 32px;}  
.landscape .da-slide .content p br{display: none;}
.landscape .default-form .content h3{margin-bottom: 40px;}
.landscape .default-form .content h3 br{display: none;}
.landscape .checkboxes .form-control-label{font-size: 34px;}


.not-landscape .da-slide .content {font-size: 48px;}
.not-landscape .da-slide .content.little {font-size: 38px;}
.not-landscape .da-slide .content p br{display: none;}
.not-landscape .checkboxes .col-xs-6{float: none; width: 100%;}
.not-landscape .checkboxes .form-control-label{font-size: 38px;}
